USE [master]
GO
/****** Object:  Database [EnhanzerAssignmentDb]    Script Date: 9/13/2026 5:44:16 PM ******/
CREATE DATABASE [EnhanzerAssignmentDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'EnhanzerAssignmentDb', FILENAME = N'C:\Users\pramu\EnhanzerAssignmentDb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'EnhanzerAssignmentDb_log', FILENAME = N'C:\Users\pramu\EnhanzerAssignmentDb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EnhanzerAssignmentDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EnhanzerAssignmentDb]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 9/13/2026 5:44:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Location_Details]    Script Date: 9/13/2026 5:44:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Location_Details](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Location_Code] [nvarchar](max) NOT NULL,
	[Location_Name] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Location_Details] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
USE [master]
GO
